/**
  |============================
  | СПИСОК КАРТИНОК І ОПИС ЇХ
  |============================
*/
.list__icon-el {
    border-radius: 4px;
    display: flex;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    justify-content: center;
    align-items: center;

}


.list {
    &__middle {
            width: 250px;
        }

    &__headlines {
            margin-top: 30px;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
    
            color: var(--title-text-color);
        }
    
        &__paragraph {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: var(--primary-gray-color);
    
            margin-bottom: 0;
            margin-top: 10px;
    
        }

    display: flex;
    justify-content: space-between;
    gap: 30px;

    &__middle {
            width: 270px;
        }
}


.main_container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-left: auto;
}

.main_middle {
    padding-top: 94px;
    padding-bottom: 47px;
    background-color: #fff;
}


